.image-cart{
  height: 6em;
  width: 8em;
}

.cart{
margin: 1em 8vw 0em;
width: 84vw;

  h3{
    text-align: right;
    padding: 1em;
  }
  table{
    width: 100%;
  }
}

.card-img-top{
  width: 100%;
  height: 30vh;
}

.quant-cart{
  display: flex;
  justify-content: center;
}

#quantity{
  width: 8vw;
  text-align: center;
}
.edit-cart {
  display: flex;
  justify-content: center;
}
