
<h1>Categories (<%= @categories.length %> products)</h1>

  <ol>
    <% @categories.each do |category| %>
      <li>
        <%= link_to category_products_path(category) do %>
          <%= category.title %>
          (<%= category.products_count %> products)
        <% end %>
      </li>
    <% end %>
  </ol>
